.container {
    width: 1000px;
    height: calc(100vh - 100px);
    border: 1px solid black;
}

.button {
    width: 100px;
    height: 100px;
    font-size: 32px;
    z-index: 1000;
}

input {
    width: 120px;
    height: 100px;
    font-size: 32px;
    z-index: 1000;
}
